.container {
    width:100%;
    border:2px;
    margin: 0 auto;
    padding:10px;
}


.column1 {
    border:2px;
    width:32%;
    float: left;
    height:100%; 
    margin-left:6%;
    margin-right:2%; 
}
.column2 {
    border:2px;
    width:45%;
    float:left;
    height:100%;
    margin-left:2%; 
    margin-right:6%;  
}

.input {
    display: flex;
    width: 260px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 110px;
}

.select {
    display: flex;
    width: 260px;
    margin-bottom: 20px;
    margin-top: 10px;
   
}

.label {
    display: flex;
    font-size: 18px;
    font-size: 17px;
    margin-bottom: 10px; 
    margin-top: 10px;
    margin-left: 110px;
}

button {
    display: flex;
    margin-top: 15px;
    margin-left: 190px;
}

.goals {
    font-size: 15px;
    margin-right: 200px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 600px;
}