.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 300px;
    margin-bottom: 20px;
    margin-top: 10px;
}

select {
    width: 300px;
    margin-bottom: 20px;
    margin-top: 10px;
}

label {
    margin-bottom: 20px; 
    margin-top: 10px;
}

