* {
  box-sizing: border-box;
}

.container {
  width:100%;
  border:2px;
  margin: 0 auto;
  padding:10px;
  
}

.row {
  height:100px;
  border:2px;
  width:100%;
  margin-bottom:10px;
  padding:10px;
}
.column1 {
  border:2px;
  width:25%;
  float: left;
  height:100%; 
  margin-left:12%;
  margin-right:2%;     
}
.column2 {
  border:2px;
  width:53%;
  float:left;
  height:100%;
  margin-left:8%; 
  margin-right:0%;    
}

th {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  background-color: #04AA6D;
}

td {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
  }

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin-bottom: 20px;
  margin-top: 10px;
  width: 20px;
}

.piechart {
  text-align: center;
}

h1 {
  color: #455df4;
  font-family: "century-gothic", sans-serif;
}