
input {
    align-items: center;
    width: 500px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.login {
    align-items: center;
    display: flex;
    flex-direction: column;
    
    border: 20px solid #791605;
    background-color: #791605;
    color: white;
    margin-bottom: 70px;
}

h1 {
    color: #791605;
}

button {
    width: 100px;
    height: 30px;
    font-size: large;
    margin-bottom: 40px;
    margin-top: 10px;
    align-items: center;
    margin:0 auto;
    display:block;
}