.upload {
    height: 200px;
    width: 200px;
    border: #791605;
    background-image: url('https://www.pngarts.com/files/10/Default-Profile-Picture-PNG-Download-Image.png');

}

img {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;


}