.overall {
    align-content: center;
}
.container {
    padding: 20px;
    align-content: center;
}
.space {
    float: left;
    width: 20%;
    padding: 5px;
}
.profilePic {
    float: left;
    width: 25%;
    padding: 20px;
}

.acctInfo {
    float: left;
    width: 40%;
    padding: 20px;
}

.infoHeader {
    line-height: 85%;
}

p {
    font-style: italic;
}

.username {
    padding: 5px;

}

.email {
    padding: 5px;
}

.phone {
    padding: 5px;
}

.address {
    padding: 5px;
}
.fieldGrid {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 1px;
    align-content: center;
}

.fieldGrid label {
    text-align: right;
    font-weight: bold;
}

.chart{
    display: grid;

}